@import "./navigation.css";


@import "./amazing.css";

@import "./team.css";


@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

p {
    font-family: adobe-devanagari, sans-serif;
font-style: normal;
font-weight: 400;
margin: 0 0 0 0 ;
}
h3 {
    font-size:14px
}
