.borderWho {
    margin-top: 41px;
    border-bottom: 4px solid #F38181;
    margin-bottom: 46px;
    width: 61px;
    margin-left: 50%;
}
.whoText {
    width: 941px;
    text-align: center;
    margin: 0 auto;
    color: #999999;
}
.photo {
    height: 471px;
    width: 381px;
}
.areCont{
    display: flex;
    justify-content: space-around;
    margin-top: 91px;
}
.are {
    text-align: center;
}
.profesion{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
}
.name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
