.navCont{
    display: flex;
    justify-content: space-between;
    width: 390px;
}
.navigation:hover {
    color: #F38181;
}
.navLogo:hover {
    color: #F38181;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-left: 130px;
    margin-right: 130px;
}
.navigation {
    color:#95E1D3;
    font-size:14px;
}
.navLogo {
    color:#95E1D3;
    font-size:30px;
}
.with{
    color: #333333;
    font-size: 24px;
    text-align: center;
    margin-top: 75px;
    font-family: 'Kaushan Script', cursive;
}
.amazingCont {
    margin: o auto;
}
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
.borderAmazing {
    margin-top: 41px;
    border-bottom: 3px solid #F38181;
    margin-bottom: 66px;
    width: 61px;
    margin-left: 50%;
}

.amazing {
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 0px;
}
.sectImg{
    margin-right: 28px;
    width: 33;
    height: auto;
}
.section{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.sectHead {
    margin-top: 0;
}
.textHeight {
    height: 69px;
    width: 330px;
}
.bigSectionTop {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.bigSectionDown{
    margin-bottom: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 9px;
}
p {
    font-family: adobe-devanagari, sans-serif;
font-style: normal;
font-weight: 400;
}
.borderWho {
    margin-top: 41px;
    border-bottom: 4px solid #F38181;
    margin-bottom: 46px;
    width: 61px;
    margin-left: 50%;
}
.whoText {
    width: 941px;
    text-align: center;
    margin: 0 auto;
}
.photo {
    height: 471px;
    width: 381px;
}
h3 {
    font-size:14px
}
.areCont{
    display: flex;
    justify-content: space-around;
    margin-top: 91px;
}
.are {
    text-align: center;
}